docker_image=mmdeploy-ci-ubuntu-20.04-cu113

codebase_list=mmcls mmdet mmedit mmseg mmpose mmocr mmdet3d  mmrotate mmaction

# available 1.8.0, 1.9.0, 1.10.0, 1.11.0, 1.12.0
exec_torch_versions=1.8.0 1.9.0 1.10.0 1.11.0 1.12.0

exec_models=all

exec_backends=onnxruntime tensorrt ncnn torchscript openvino

exec_performance=y

max_job_nums=3

mmdeploy_branch=master

repo_url=https://github.com/open-mmlab/mmdeploy.git

repo_version=v1.0

# supported value: 8.4.1.5  8.2.5.1
tensorrt_version=8.2.5.1

requirement=requirementV1.0.json
