docker_image=mmdeploy-ci-ubuntu-20.04-cu113

codebase_list=mmcls mmdet mmedit mmseg mmpose mmocr mmdet3d mmaction mmyolo

exec_performance=y

# available 1.8.0, 1.9.0, 1.10.0, 1.11.0, 1.12.0
exec_torch_versions=1.10.0

exec_models=resnet ssd yolov5 maskrcnn srcnn pointpillars dbnet crnn hrnet fastscnn slowfast

exec_backends=onnxruntime tensorrt ncnn torchscript openvino

max_job_nums=3

mmdeploy_branch=dev-1.x

repo_url=https://github.com/open-mmlab/mmdeploy.git

repo_version=v2.0

tensorrt_version=8.2.5.1

requirement=requirementV2.0.json
