name: check-doc-link
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: ubuntu-x86-cpu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - run: python3 .github/scripts/doc_link_checker.py --target docs/zh_cn
      - run: python3 .github/scripts/doc_link_checker.py --target README_zh-CN.md
      - run: python3 .github/scripts/doc_link_checker.py --target docs/en
      - run: python3 .github/scripts/doc_link_checker.py --target README.md
